services:
  - type: web
    name: traca-backend
    runtime: python
    rootDir: backend
    plan: free
    autoDeploy: true
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: ALLOWED_ORIGINS
        value: https://frontend-c0k6diu0b-adnancantfunctions-projects.vercel.app
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_ALGORITHM
        value: HS256
      - key: JWT_EXPIRE_MINUTES
        value: 1440
      - key: DERIV_API_TOKEN
        sync: false
      - key: DERIV_APP_ID
        sync: false
      - key: MISTRAL_API_KEY
        sync: false
      - key: MISTRAL_MODEL
        value: mistral-small-latest
      - key: MISTRAL_BASE_URL
        value: https://api.mistral.ai/v1
