# Deriv API
DERIV_API_TOKEN="YOUR_DERIV_TOKEN"

# LLM
MISTRAL_API_KEY=VFrNVZxNV24IPqbDbWJjLTVrOJV0wwlz
MISTRAL_MODEL=mistral-small-latest
MISTRAL_BASE_URL=https://api.mistral.ai/v1
DERIV_APP_ID="YOUR_DERIV_APP_ID"

